In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [4]:
aapl = yf.download("AAPL", start = "2020-08-25", end = "2020-09-05")

[*********************100%***********************]  1 of 1 completed

### Aug 28, 2020 split 4 : 1 is not reflected, it is all baked in:

In [5]:
aapl

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-08-25,124.697502,125.180000,123.052498,124.824997,123.507469,211495600
2020-08-26,126.180000,126.992500,125.082497,126.522499,125.187057,163022400
2020-08-27,127.142502,127.485001,123.832497,125.010002,123.690521,155552400
2020-08-28,126.012497,126.442497,124.577499,124.807503,123.490166,187630000
2020-08-31,127.580002,131.000000,126.000000,129.039993,127.677994,225702700
2020-09-01,132.759995,134.800003,130.529999,134.179993,132.763718,151948100
2020-09-02,137.589996,137.979996,127.000000,131.399994,130.013077,200119000
2020-09-03,126.910004,128.839996,120.500000,120.879997,119.604111,257599600
2020-09-04,120.070000,123.699997,110.889999,120.959999,119.683281,332607200